body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/assets/pix/2.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.container div {
    margin-top: 20px;
}

.container p {
    margin: 10px 0;
    font-size: 16px;
}

.container p span {
    font-weight: bold;
    color: #007bff;
}

.container p:hover span,
.container #password:hover,
.container #confirmPassword:hover {
    color: #0056b3;
    cursor: pointer;
}

#password,
#confirmPassword {
    display: inline-block;
    font-weight: bold;
    color: #007bff;
}
